%p
  = "You have #{@unread_notifications_count} unread #{@notification_text}."
  = link_to "Go to notifications page.", notifications_url

%p{ style: 'display: inline-block; padding-top: 6px; border-top: 1px solid; font-size: 0.9em; margin-top: 10px !important;' }
  We send this email first day of every month (only if) you have some unread notifications.
