common: &default_settings
  license_key: 'license_key_to_change'
development:
  <<: *default_settings

test:
  <<: *default_settings

staging:
  <<: *default_settings

production:
  <<: *default_settings
