.btn-info {
  &--modal {
    margin: 15px 3px 0 0;
    padding: 1px;
    font-size: 15px;
    line-height: 14px;
    color: $color-light-blue;
    text-shadow: none;
    border: none;
    border-radius: 15px;
    background-color: $color-white;

    &:active, &:hover {
      background: $color-light-blue;
    }
  }
}
