.user-skill-timeline {
    display: flex;
    width: 100%;

    &__labels {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        min-width: 100px;
    }

    &__labels-item {
        padding: 10px;
        border-bottom: 1px solid #d6dade;
        border-right: 1px solid #d6dade;
        box-sizing: border-box;
        height: 120px;

        &:first-child {
            border-top: 1px solid #d6dade;
        }

        &:nth-of-type(odd) {
            background-color: #f2f4f5;
        }
    }

    &__timeline {
        overflow-x: scroll;
        position: relative;
    }
}
