.user-skill-history {
  &-timeline {
    display: flex;
    width: 100%;

    &--loading {
      display: none;
    }

    &__left-column {
      display: flex;
      flex-direction: column;
    }

    &__labels {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__labels-item {
      padding: 10px;
      border-bottom: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
      box-sizing: border-box;
      height: 90px;

      &:first-child {
        border-top: 1px solid $color-grey;
      }

      &:nth-of-type(odd) {
        background-color: $color-light-grey;
      }
    }

    &__timeline {
      overflow-x: scroll;
      position: relative;
    }

    &__rate-note-list {
      padding: 0;
      margin: 0;

      &-item {
        list-style-type: none;
        display: flex;

        &-label {
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }

    &__legend-popover-entry-point {
      height: 35px;
      width: 100%;
    }

    &__legend {
      flex-shrink: 0;

      &-title {
        color: $color-light-blue;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
      }

      &-list {
        padding: 0;
      }

      &-list-item {
        display: flex;
        align-items: center;

        &--top-margin {
          margin-top: 10px;
        }
      }

      &-list-item-symbol {
        border-top: 3px solid $color-brack;
        height: 3px;
        margin-right: 10px;
        width: 50px;

        &--rate-0 {
          border-top-color: $color-red;
        }

        &--rate-1 {
          border-top-color: $color-sunset;
        }

        &--rate-2 {
          border-top-color: $color-yellow;
        }

        &--rate-3 {
          border-top-color: $color-green;
        }

        &--dashed {
          border-top-style: dashed;
        }
      }
    }
  }

  &-filter {
    &__filter-category {
      display: flex;
      margin: 10px 0;
      border-bottom: 1px solid $color-grey;

      &-primary-text {
        color: $color-orange;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
      }

      &-list {
        flex-grow: 2;
        border: 0;
      }

      &-list-item {
        margin-left: 20px;
        font-weight: bold;
      }

      &-active-item {
        color: $color-orange;
        border-bottom: 3px solid $color-orange;
        padding-bottom: 15px;
      }
    }

    &__filter-date {
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid $color-grey;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &-button:first-child {
        margin-right: 20px;
      }

      &-label {
        margin: 0 20px;
      }

      &-input {
        width: auto;
      }
    }
  }

  &-loading-state {
    width: 100%;
    font-size: 20px;
    padding: 20px 0;
  }
}
