body.user_skill_rates {
  &.index {
    .skill {
      &__note {
        min-width: 180px;
      }

      &__favorite {
        cursor: pointer;
        font-size: $font-size-h3;
        margin: 4px 45px 4px 7px;

        &:hover {
          color: $brand-info;
        }

        &.selected {
          color: $brand-danger;

          &:hover {
            color: $brand-info;
          }
        }
      }

      &__rating_table_rate {
        padding-left: 30px;
      }

      &__clear_rate {
        color: $brand-danger;
        cursor: pointer;
        display: none;
      }

      &__clear_rate__btn {
        font-size: $font-size-small;
        top: -4px;
      }

      &__row {
        &:hover {
          background-color: $light-orange;

          .skill__clear_rate {
            display: inline-block;
          }
        }
      }

      &__rating {
        min-width: 150px;
        margin: 5px 0 0;
        position: relative;

        li:not(.skill__clear_rate) {
          padding: 0;
        }

        li:nth-child(1) {
          position: absolute;
          top: 5px;
        }

        li:nth-child(2) {
          padding: 0 0 0 25px;
        }
      }

      &__rate {
        font-size: $font-size-h3;
        padding-left: 5px;

        &.hovered {
          color: $brand-info;
          cursor: pointer;
        }

        &.selected {
          color: $brand-primary;
        }
      }
    }

    .skills-header {
      margin-top: 15px;
    }
  }
}
